@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.main-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    /* высота экрана */
}

.left-container {
    width: fit-content;
    min-width: fit-content;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 0 fit-content;

    &::-webkit-scrollbar {
        width: 8px;
        /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: white;
        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dadce0;
        /* цвет плашки */
        border-radius: 20px;
        /* закругления плашки */
        border: 0px;
        /* padding вокруг плашки */
    }
}

.central-container {
    width: auto;
    box-sizing: border-box;
    height: 100vh;
    max-height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    flex-direction: column;

    flex: 1;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 100vh;
    flex: 0;
    flex: 0 0 312px;
    margin: 16px;
    gap: 24px;
}

.chat {
    width: 280px;
    height: 80px;
    padding: 12px;
    border: 0px solid white;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .chat-text {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 36px;
        /* 2 строки по 18 пикселей в высоту */
    }

    img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
    }

    &:hover {
        background-color: #FAFAFA;
    }
}

.chat_active {
    width: 280px;
    height: 80px;
    padding: 12px;
    border: 0px solid magenta;
    border-radius: 12px;
    box-sizing: border-box;
    box-shadow: none;
    background-color: magenta;
    display: flex;
    justify-content: center;
    align-items: center;

    .chat-text {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 36px;
        /* 2 строки по 18 пикселей в высоту */
    }

    img {
        width: 54px;
        height: 54px;
        border-radius: 50%;
    }

    &:hover {
        background-color: magenta;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    gap: 6px;
}

.title {
    width: 150px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bolder;
    color: #18181B;
    text-align: left;
}

.text {
    width: 150px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: #52525B;
    white-space: normal;
}

.unread-messages-count {
    background-color: #6366F1;
    color: #EEF2FF;
    border-radius: 20px;
    height: 18px;
    padding: 1px 7px;
    font-size: 12px;
    max-width: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.time {
    color: #52525B;
    font-size: 13px;
    line-height: 16px;
    height: 16px;
}

// MESSAGE ======================================================================

.messages-container {
    // width: 700px;
    box-sizing: border-box;
    height: calc(100vh - 100px);
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
        width: 8px;
        /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #F7F7F7;
        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dadce0;
        /* цвет плашки */
        border-radius: 20px;
        /* закругления плашки */
        border: 0px;
        /* padding вокруг плашки */
    }

    &_disable-scroll {
        overflow: hidden;
    }
}

.settings-item-container {
    display: flex;
    gap: 8px;
    flex-direction: column;

    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;

    &::-webkit-scrollbar {
        width: 8px;
        /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #F7F7F7;
        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dadce0;
        /* цвет плашки */
        border-radius: 20px;
        /* закругления плашки */
        border: 0px;
        /* padding вокруг плашки */
    }
}

.message-outer-container {
    display: flex;
    justify-content: space-between;

    &_selected {
        background: rgba(228, 228, 231, 0.3);
    }
}


.chat-message-info-container {
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    align-items: flex-end;
}

.message-wrapper {
    display: flex;
    align-items: center;

    &_self {
        align-self: flex-end;
    }

    &_self.selectable {
        align-self: unset !important;
        justify-content: space-between;
        width: 100%;
    }
}

.message-container {
    display: flex;
    align-items: end;
    max-width: fit-content;
    box-sizing: border-box;
    margin: 4px 24px;
    flex-direction: column;

    &_self {
        // align-self: flex-end;
        background-color: #E0E8FF;
        border-radius: 12px 12px 0px 12px;
    }

    &_self-code {
        // align-self: flex-end;
        background: rgb(30, 30, 30);
        border-radius: 12px 12px 0px 12px;
    }

    &_other {
        align-self: flex-start;
        background-color: #FFFFFF;
        border-radius: 12px 12px 12px 0px;
    }

    &_other-code {
        align-self: flex-start;
        background: rgb(30, 30, 30);
        border-radius: 12px 12px 12px 0px;
    }
}

.message-text {
    color: #18181B;
    font-size: 16px;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    word-break: break-all;
}

.message-time {
    font-size: 12px;
    margin-left: auto;

    &_other {
        color: #A1A1AA;
        margin-right: 8px;
    }

    &_other-code {
        color: #D9D9E3;
        margin-right: 8px;
    }

    &_self {
        color: #A5B4FC;
        margin-right: 2px;
    }

    &_self-code {
        color: #D9D9E3;
        margin-right: 2px;
    }

    &_self-not-viewed {
        color: #A5B4FC;
        margin-right: 8px;
    }

    &_self-not-viewed-code {
        color: #D9D9E3;
        margin-right: 8px;
    }
}

.other-message-viewed {
    width: 14px;
    height: 14px;
    // margin-left: auto;
    margin-right: 4px;
    margin-bottom: 2px;
}

// MESSAGE ======================================================================

.select-message-icon {
    width: 20px;
    height: 20px;
    margin-left: 26px;
}

.current-message-container {
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    box-sizing: border-box;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 20px;
}

.message-active-image {
    width: 20px;
    height: 20px;
}

.message-textarea {
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #D4D4D8;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    margin-right: 10px;
    max-height: 100px;
    color: #000000;
    border-radius: 8px 8px 0px 8px;
    height: 40px;

    &::placeholder {
        color: #A1A1AA;
    }

    &::-webkit-scrollbar {
        width: 8px;
        /* ширина scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: white;
        /* цвет дорожки */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #dadce0;
        /* цвет плашки */
        border-radius: 20px;
        /* закругления плашки */
        border: 0px;
        /* padding вокруг плашки */
    }
}

// INSTRUCTIONS ======================================================================

.submit-instruction-container {
    width: 500px;
    box-sizing: border-box;
    // border: 1px solid #D4D4D8;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
}

.submit-instruction-inner-top-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 8px;
    margin-top: 8px;
}

.submit-instruction-messages-count-container {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.submit-instruction-messages-text {
    margin-left: 16px;
}


.close-icon-container {
    width: 42px;
    height: 42px;
    display: flex;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    &:hover {
        background-color: #dadce0;
    }
}

.close-icon {
    width: 16px;
    height: 16px;
}

.show-instruction-icon-container {
    width: 42px;
    height: 42px;
    display: flex;

    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.show-instruction-icon {
    width: auto;
    height: 16px;
}

.submit-instruction-inner-bottom-container {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.submit-instruction-name-textarea {
    box-sizing: border-box;
    border: 1px solid #D4D4D8;
    padding: 10px;
    font-size: 16px;
    resize: none;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    height: 40px;
    flex-grow: 1;
    margin-right: 16px;
    border-radius: 8px;
}

.submit-instruction-button {
    box-sizing: border-box;
    box-shadow: none;
    border: 0px;
    padding: 10px;
    font-size: 16px;
    color: white;
    height: 40px;
    width: 52px;
    background: #6366F1;
    border-radius: 8px;
}

// CODE =======================================

// pre {
//     background-color: black !important;
//     font-size: 16px !important;
//     margin: 8px 0px 8px 8px;
//     padding: 0px !important;
//     /* Новый цвет фона */


//     display: flex;
//     box-sizing: border-box;

//     max-width: 500px;
//     max-height: 300px;


//     overflow: auto;
//     overflow-y: scroll;
//     overflow-x: scroll;

//     &::-webkit-scrollbar {
//         width: 8px;
//         /* ширина scrollbar */
//         height: 8px;
//         /* высоты scrollbar */
//     }

//     &::-webkit-scrollbar-track {
//         background: black;
//         /* цвет дорожки */
//     }

//     &::-webkit-scrollbar-corner {
//         background: rgba(0, 0, 0, 0);
//     }

//     &::-webkit-scrollbar-thumb {
//         background: #D9D9E3;
//         /* цвет плашки */
//         border-radius: 20px;
//         /* закругления плашки */
//         border: 0px;
//         /* padding вокруг плашки */
//     }
// }

.message-code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #343541;
    width: 100%;
    color: #D9D9E3;
    font-size: 12px;
    border-radius: 8px 8px 0px 0px;
}

.message-code {
    background: rgb(30, 30, 30);
}

//