@charset "UTF-8";
.main-container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  /* высота экрана */
}

.chats-container {
  width: fit-content;
  box-sizing: border-box;
  height: 100vh;
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.chats-container::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}
.chats-container::-webkit-scrollbar-track {
  background: white;
  /* цвет дорожки */
}
.chats-container::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: 0px;
  /* padding вокруг плашки */
}

.chat {
  width: 280px;
  height: 80px;
  padding: 12px;
  border: 0px solid white;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat .chat-text {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 36px;
  /* 2 строки по 18 пикселей в высоту */
}
.chat img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.chat:hover {
  background-color: #FAFAFA;
}

.chat_active {
  width: 280px;
  height: 80px;
  padding: 12px;
  border: 0px solid magenta;
  border-radius: 12px;
  box-sizing: border-box;
  box-shadow: none;
  background-color: magenta;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat_active .chat-text {
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 36px;
  /* 2 строки по 18 пикселей в высоту */
}
.chat_active img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.chat_active:hover {
  background-color: magenta;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  width: 150px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bolder;
  color: #18181B;
  text-align: left;
}

.text {
  width: 150px;
  height: 36px;
  line-height: 18px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: #52525B;
  white-space: normal;
}

.unread-messages-count {
  background-color: #6366F1;
  color: #EEF2FF;
  border-radius: 20px;
  height: 18px;
  padding: 1px 7px;
  font-size: 12px;
  max-width: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.time {
  color: #52525B;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
}

.right-container {
  width: auto;
  box-sizing: border-box;
  height: 100vh;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.messages-container {
  width: 700px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  overflow: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.messages-container::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}
.messages-container::-webkit-scrollbar-track {
  background: #F7F7F7;
  /* цвет дорожки */
}
.messages-container::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: 0px;
  /* padding вокруг плашки */
}
.messages-container_disable-scroll {
  overflow: hidden;
}

.chat-message-info-container {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.other-message-content-container {
  align-self: flex-start;
  margin-left: 200px;
  display: flex;
  align-items: end;
  max-width: fit-content;
  box-sizing: border-box;
  margin: 12px 24px;
  background-color: #FFFFFF;
  border-radius: 12px 12px 12px 0px;
}

.other-message-text {
  color: #18181B;
  font-size: 16px;
  max-width: 500px;
  margin: 10px;
  word-break: break-all;
}

.other-message-time {
  color: #A1A1AA;
  font-size: 12px;
  margin-left: auto;
  margin-right: 8px;
  margin-bottom: 4px;
}

.self-message-content-container {
  align-self: flex-end;
  display: flex;
  align-items: end;
  max-width: fit-content;
  box-sizing: border-box;
  margin: 12px 24px;
  background-color: #6366F1;
  border-radius: 12px 12px 0px 12px;
}

.self-message-text {
  color: #F5F7FF;
  font-size: 16px;
  max-width: 500px;
  margin: 10px;
  word-break: break-all;
}

.self-message-time {
  color: #A5B4FC;
  font-size: 12px;
  margin-left: auto;
  margin-right: 8px;
  margin-bottom: 4px;
}

.current-message-container {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.message-active-image {
  width: 20px;
  height: 20px;
}

.message-textarea {
  width: 500px;
  border: 1px solid #D4D4D8;
  padding: 10px;
  font-size: 16px;
  resize: none;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  margin-right: 10px;
  max-height: 75px;
  color: #000000;
}
.message-textarea::placeholder {
  color: #A1A1AA;
}
.message-textarea::-webkit-scrollbar {
  width: 8px;
  /* ширина scrollbar */
}
.message-textarea::-webkit-scrollbar-track {
  background: #F7F7F7;
  /* цвет дорожки */
}
.message-textarea::-webkit-scrollbar-thumb {
  background-color: #dadce0;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
  border: 0px;
  /* padding вокруг плашки */
}

/*# sourceMappingURL=Chats.css.map */
